[submodule "kemp-v2-frontend"]
	path = kemp-v2-frontend
	url = https://github.com/projects-kssk/kemp-v2-frontend.git
	branch = main
[submodule "kemp-v2-backend"]
	path = kemp-v2-backend
	url = https://github.com/projects-kssk/kemp-v2-backend.git
	branch = main
